.index {
    padding: 1em;
    padding-top: 2rem;
}
.d-block {
    display: block;
}
.text-center {
    text-align: center;
}
.font-16 {
    font-size: 0.6rem;
}
.text-indent-2 {
    text-indent: 2em;
}
.m-top-12 {
    margin-top: 1.2rem;
}