.list {
    padding: 1em;
    padding-bottom: 3rem;
}
.d-block {
    display: block;
}
.font-08 {
    font-size: 0.8rem;
}
.font-07 {
    font-size: 0.7rem;
    margin-top: 0.8rem;
    margin-bottom: 0.4rem;
}
.m-item-category {
    margin-top: 0.6rem;
}
.fix-bottom-10 {
    position: fixed;
    bottom: 0;
    padding: 0.4rem;
    background-color: white;
    width: calc(100% - 0.8rem);
    left: 0;
}