.mt-1 {
    margin-top: 1rem;
}
.d-block {
    display: block;
}
.text-center {
    text-align: center;
}

.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.fs-2 {
    font-size: 2rem;
}
.fs-1h {
    font-size: 1.5rem;
}